<ion-view view-title="Balance Sheet" padding="true">
  <ion-content  style="background-color: #444;">

    <div class="row row-center">
      <div class="col col-top tableHeader custom-active" ui-sref="reports" ui-sref-active="active">Income Statement</div>
      <div class="col col-center tableHeader custom-active" ui-sref="balance" ui-sref-active="active">Balance Sheet</div>
    </div>
    <div class="row row-center ">
      <div class="col col-center tableHeader">From {{toDate}} to {{fromDate}}</div>
    </div>
    <br/>
    <div class="row row-center">
      <div class="col col-top tableBody">Category</div>
      <div class="col col-center tableBody"> Balance</div>
    </div>
    <div class="row row-center">
      <div class="col col-center tableBody">Revenue</div>
      <div class="col col-center tableBody">-</div>
    </div>
    <div class="row row-bottom">
      <div class="col tableBody">Uncategorized Income</div>
      <div class="col tableBody">$12.96</div>
    </div>
    <div class="row row-bottom">
      <div class="col tableBody">Service Revenue</div>
      <div class="col tableBody">$23,644.30</div>
    </div>
    <div class="row row-bottom">
      <div class="col tableBody">Sales</div>
      <div class="col tableBody">$1,200.00</div>
    </div>
    <div class="row row-bottom">
      <div class="col tableBody">Total Revenue</div>
      <div class="col tableBody">$24,857.26</div>
    </div>
  </ion-content>
</ion-view>
